{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: burlywood;
        align-items: center;
    }
    .row {
        margin: 4%;
    }
    .card-body {
        background-color: bisque;
    }
    .btn {
        background-color: darkkhaki;
    }
</style>

<section id="note-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <h4 class="card-title">Add a Note</h4>
                        <form method="post" action="{% url 'create_note' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for "content">Content:</label>
                                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="picture">Picture:</label>
                                <input type="file" class="image" id="picture" name="picture" accept="image/*">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form method="get">
    <div class="form-group">
        <label for="search_query">Search Query:</label>
        <input type="text" name="search_query" class="form-control" size="20">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>



<h2>My Notes</h2>
<div class="row">
    {% for note in notes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <a href="{% url 'view_note' pk=note.id %}" class="btn btn-primary">View Note</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
