{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: burlywood;
        align-items: center;
    }
    .row {
        margin: 4%;
    }
    .card-body {
        background-color: bisque;
    }
    .btn {
        background-color: darkkhaki;
    }
    .card-title {
        font-weight: bold;
        font-size: 24px;
    }

    .card-container {
        max-width: 100%;
        height: auto;
    }

    .img-container {
        max-width: 100%;
        height: auto;
    }
    img{
        height: 100px;
        width: 100px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4 card-container">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.content }}</p>
                    <div class="img-container">
                        <img src="{{ object.picture.url }}" alt="{{ object.title }}">
                    </div>
                    <a href="{% url 'delete_note' pk=object.id %}" class="btn btn-danger mt-3" >Delete</a>
                    <a href="{% url 'edit_note' pk=object.id %}" class="btn btn-primary mt-3">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
